@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Contrail+One);
// http://clrs.cc/

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

body{
  background-color: #adadad;
  background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
  font-family: 'Contrail One', cursive;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-family: 'Contrail One', cursive;
  font-size: 13px;
}

.navbar-default {
  background-color: #c92228;
  border-color: #c92228;
}

.col-xs-2{
width: 16.66666667%;
margin-top: -25px;
}

span{
  color: white;
}

label{
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: bold;
color: white;
}

.navbar .navbar-brand{
  font-family: 'Contrail One', cursive;
  font-size: 45px;
  color: white;
  border-radius: 0px;
}

.btn-primary {
  color: #ffffff;
  background-color: #c92228;
  border-color: #c92228;
  margin: 3px;
  margin-top: 26px;
}

#destinate{
  margin-top: 26px;
}

input.ng-invalid, select.ng-invalid{
  background-color: #ACACAC;
  margin-bottom: 10px;
}

