.navbar.navbar-default(role='navigation', ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') DESTINATE

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='email')
        li: a(href='/#/register') Register &nbsp;
          span.fa.fa-pencil
        li: a(href='/#/login') Login &nbsp;
          span.fa.fa-sign-in
      ul.nav.navbar-nav.navbar-right(ng-show='email')
        li: a(href='/#/destinations') Destinations &nbsp;
          span.fa.fa-globe
        li: a(href='/#/vacations') Vacations &nbsp;
          span.fa.fa-plane
        li: a(href='/#/logout') {{email}} &nbsp;
          span.fa.fa-sign-out

