.row
  .col-xs-10
        input.form-control#destination(type='text', placeholder='example: Paris, France', ng-model='place', )
  .col-xs-2
        button.btn.btn-primary(ng-click='addDestination()') Add Destination

div(ms-photo, ng-repeat='place in places', title='{{place}}', remove='delDestination($index)')
