.row
  .col-xs-10
    form(role='form', name='destinationForm')
      .form-group
        input.form-control#destination(placeholder='example: Paris, France', ng-model='destination', )
  .col-xs-2
      .form-group
        button.btn.btn-primary(type='submit') Add Destination
