h4 {{page}}
.row
  .col-xs-4
    form(role='form', novalidate, name='destinationsForm')
      .form-group
        label Location
        input.form-control(type='text', name='location', ng-model='destination.location', required, autofocus)
  .col-xs-4
      .form-group
        label Photo
        input.form-control(type='text', name='photo', ng-model='destination.photo', required)
  .col-xs-4
          button.btn.btn-primary(type='button', ng-click='addDestination()') Destinate.
